<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Python Clerk Example</h1>
    <p>User id: {{ user_id }}</p>
    <div id="app"></div>
    <script
      async
      crossorigin="anonymous"
      data-clerk-publishable-key="{{clerk_publishable_key}}"
      src="https://warm-toucan-62.clerk.accounts.dev/npm/@clerk/clerk-js@latest/dist/clerk.browser.js"
      type="text/javascript"
    ></script>
    <script>
      window.addEventListener('load', async function () {
        await Clerk.load()

        if (Clerk.user) {
          document.getElementById('app').innerHTML = `
            <div id="user-button"></div>
          `

          const userButtonDiv = document.getElementById('user-button')

          Clerk.mountUserButton(userButtonDiv, {
            afterSignOutUrl: '/'
          })
        } else {
          document.getElementById('app').innerHTML = `
            <div id="sign-in"></div>
          `

          const signInDiv = document.getElementById('sign-in')

          Clerk.mountSignIn(signInDiv, {
            redirectUrl: '/'
          })
        }
      })
    </script>
</body>
</html>
